div.a {
    text-align: center;
}
#TB1 {
    width: 900px;
    margin-left: auto;margin-right: auto;
    color: blue;
}
#TB2 {
    width: 900px;
    border-collapse: collapse;
    margin-right: auto;margin-left: auto;
}
